@page "/reservations"
@using TravelApp.Data

<div class="container">
    <h3>Reservation Finder</h3>
    <div class="search-section">
        <div class="input-group">
            <label for="code-input">Code:</label>
            <input type="text" id="code-input" placeholder="Any">
        </div>
        <div class="input-group">
            <label for="airline-input">Airline:</label>
            <input type="text" id="airline-input" placeholder="Any">
        </div>
        <div class="input-group">
            <label for="name-input">Name:</label>
            <input type="text" id="name-input" placeholder="Any">
        </div>
        <div class="input-group">
            <button type="submit" class="btn btn-primary" @onclick="findReservations">Find reservations</button>
        </div>
    </div>

    <div class="reservations-section">
        <h3>Reservations</h3>
        <div id="reservations">Loading...</div>
    </div>

    <div class="reserve-section">
        <h3>Reserve</h3>
        <form id="reserve-form">
            <div class="input-group">
                <label for="reservation-code">Reservation code:</label>
                <input type="text" id="reservation-code" readonly placeholder="Reservation Code">
            </div>
            <div class="input-group">
                <label for="flight-code">Flight code:</label>
                <input type="text" id="flight-code" readonly placeholder="Flight Code">
            </div>
            <div class="input-group">
                <label for="airline">Airline:</label>
                <input type="text" id="airline" readonly placeholder="Airline">
            </div>
            <div class="input-group">
                <label for="cost">Cost:</label>
                <input type="text" id="cost" readonly value=0>
            </div>
            <div class="input-group">
                <label for="name">Name:</label>
                <input type="text" id="name" readonly placeholder="Name">
            </div>
            <div class="input-group">
                <label for="citizenship">Citizenship:</label>
                <input type="text" id="citizenship" readonly placeholder="Citizenship">
            </div>
            <div class="input-group">
                <label for="status">Status:</label>
                <input type="text" id="status" readonly value="Active">
            </div>
            <button class="btn btn-primary" type="submit">Save</button>
        </form>
    </div>
</div>
@code {
    private void findReservations()
    {
        
    }
}
